# ----------------------
# Python
# ----------------------
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
*.egg-info/
dist/
build/

# ----------------------
# DBT
# ----------------------
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.DS_Store

# ----------------------
# Airflow
# ----------------------
airflow/airflow.db
airflow/__pycache__/
airflow/dags/__pycache__/
airflow/logs/
airflow/tmp/

# ----------------------
# Spark / Jupyter
# ----------------------
*.log
*.out
*.checkpoint
*.jar
*.class
.ipynb_checkpoints/
*.csv
*.parquet
*.avro

# ----------------------
# OS / IDE
# ----------------------
.DS_Store
*.swp
.vscode/
.idea/
*.iml

# ----------------------
# Docker
# ----------------------
docker-compose.override.yaml
.env